*{
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    margin:0;
    height: 100%;
    
}

h1 {
    color : white ;
    background-color: rgb(0, 153, 255) ;
    margin : 0;

}


body{
    background-color: yellow;
}

#wrapper{
    background: white;
    max-width: 1000px;
    margin: auto;
}

#banniere{
    height: 30vw;
    min-height: 200px;
    background: transparent url('simpson-image.jpg') no-repeat center center;
    background-size: cover;
    border: 2px solid white;
}

nav {
    background-color: rgb(0, 153, 255);
    color: white;
    padding : 1em;
    flex: 1;
    margin :0;
    border-bottom: 2px dotted white
    
}

ul {
    list-style-type: none;
    font-weight :bold;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
    
}

ul li {
    margin-left: 20px;
    margin-right: 20px; 
    align-self: flex-start;
    }

a {
    color: white;
    text-decoration: none;
}

h2 {
    color: rgb(255, 196, 0);
    text-transform: uppercase;
}

section {
    display: flex;
    flex-wrap: wrap; 
    margin:10px;
}

article {
    flex:3;   
    margin-left: 20px ;
    margin-right:20px;
    text-align: justify;
}

.film {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

figure img {
        width: 33%;
        border: 1px solid black ;
}

aside {
    background-color: rgb(0, 153, 255);
    flex:1;
    text-align: justify;
    padding: 1em;
    margin: 60px 0;
}

figcaption h3 {
    color: white;
    margin:0;
}
aside figure{
    width:100%;
    margin:0 auto;
}
aside figure img{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

aside p {
    color:white;
}
aside img {
    border: 1px solid white;
}

.italic {
    font-style: italic;
    margin-top:0;
}

footer {
    background-color : rgb(0, 47, 255);
    color : white;
    padding: 0.5em 0;
}

.text-center {
    text-align : center;
}

@media all and (max-width:700px){
    section {
        display: initial;
        }

    .text-center {
        text-align : center;
    }
    ul {
        display : initial ;
    }
    aside figure img {
        float:left;
        margin-right: 1em;
    }
    
}